.result {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 78px;
  right: -519px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#result-pane{
	position: absolute;
	top:0px;
	left: 0px;
	margin: 100px;
}

#result-pane .result-container {
  width: 128px;
  height: 128px;
  overflow: hidden;
}