<!DOCTYPE html>
<html>
<head>
	<title> magic pixel</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.Jcrop.min.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" type="text/css" />
	<script type="text/javascript" src = "{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src = "{{ url_for('static', filename='js/jquery.Jcrop.min.js') }}"></script>
	<script type="text/javascript" src = "{{ url_for('static', filename='js/myJcrop.js') }}"></script>
       <script type="text/javascript" src = "{{ url_for('static', filename='js/upload.js') }}"></script>
	<script type="text/javascript">
		$(function() {
            			$('#Submit').click(function(){
              		$.ajax({
                			url: '/magic',
                			data:{
                				img: $('#img').val(),
                  				x1: $('#x1').val(),
                  				y1: $('#y1').val(),
                  				x2: $('#x2').val(),
                  				y2: $('#y2').val()
                			},
                			dataType: 'JSON',
                			type: 'GET',
                			success: function(data){
                				 alert(data.result)
                    				$("#result").attr("src",data.result);
                			}

                		});
             		});
        		});
	</script>
	<script type=text/javascript>
        
  </script>
</head>
<body>
        <div id="banner">
           <img src="{{ url_for('static', filename='img/title.png') }}"  id= "banner-img">
        </div>
        <div id="left">
           <img src="{{ url_for('static', filename='img/ls.png') }}" width="400px"  id= "ls">
        </div>
        <div id="right">
           <img src="{{ url_for('static', filename='img/xg.png') }}" width="400px" id= "xg">
        </div>
        <div id = "top">

        <form action="{{ url_for('upload') }}" method="post"  enctype="multipart/form-data" id="form1">
            <input type="file"  class="btn" name="photo" style="width:250px;" />
            <input type="submit"  class="btn" name="Submit" value="Upload" />
        </form>

        </div>        

       <div id="imgPlace">
      		<img src="{{ image }}" id="target" >
       		<!-- <img src="../zjm.jpg" id = "target"> -->
     	</div>
      <div id = "bottom">
        
     	<div id="preview-pane">
   	 	<div class="preview-container">
     			<img src="{{ image }}" class="jcrop-preview" alt="Preview" />
     			<!-- <img src="../zjm.jpg" class="jcrop-preview" alt="Preview" /> -->
    		</div>
  	</div>

        <!-- This is the form that our event handler fills -->
    <form id="coords" class="coords" method="" action="">

      <div class="inline-labels">
        <label><input type="hidden" size="30" id = "img" name="img" value = {{ image }}/></label>
        <label><input type="hidden" size="4" id="x1" name="x1" /></label>
        <label><input type="hidden" size="4" id="y1" name="y1" /></label>
        <label><input type="hidden" size="4" id="x2" name="x2" /></label>
        <label><input type="hidden" size="4" id="y2" name="y2" /></label>
        <label><input type="hidden" size="4" id="w" name="w" /></label>
        <label><input type="hidden" size="4" id="h" name="h" /></label>
        <img width="100px" rotate="3" src="{{ url_for('static', filename='img/jiantou.png') }}" id = "Submit" ">  
      </div>

  </form>

      <div id="result-pane">
              <div class="result-container">
                    <img src="{{ url_for('static', filename='img/lanshou.jpg') }}" class="result" alt="Result" id="result"/>
              <!-- <img src="../zjm.jpg" class="jcrop-preview" alt="Preview" /> -->
              </div>
      </div>

      </div>




</body>
</html>